@font-face {
  font-family: 'IBM Plex Mono';
  src: url('/fonts/IBMPlexMono-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('/fonts/IBMPlexMono-Medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('/fonts/IBMPlexMono-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Mono', monospace; display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.light {
  background-color: #FAF3E0;
  color: #101010;
}

.dark {
  background-color: #101010;
  color: #fffcf5;
}

.heading {
  font-size: 35px;
  font-weight: 700;
}

.about {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  gap: 25px;
}

.links {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  padding: 5px;
  margin-top: 20px;
}

.main {
  display: flex;
  flex-direction: column;
  width: 700px;
  margin: 20px;
}

.links > a {
  font-size: 16px;
  text-decoration: underline;
  color: inherit;
}

a {
  text-decoration: underline;
  color: inherit;
}

@media screen and (max-width: 520px) {
  .main {
    display: flex;
    flex-direction: column;
    width: 320px;
    margin: 20px;
  }
}
