@font-face {
  font-family: 'IBM Plex Mono';
  src: url('/fonts/IBMPlexMono-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('/fonts/IBMPlexMono-Medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('/fonts/IBMPlexMono-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 30px;
  padding: 0;
  font-family: 'IBM Plex Mono', monospace;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

a {
  color: inherit;
}

.light {
  background-color: #FAF3E0;
  color: #101010;
}

.dark {
  background-color: #101010;
  color: #fffcf5;
}